.content {
    /* width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    background-color: coral;
}

/* .cancionCard {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */

/* .imagenes {
    width: 20%;
    height: auto;
} */